# local secrets
boyds-little-login-library-for-php_constants/*db_connection_constants.php

# environment files
.env
.env.*

# OS/editor noise
.DS_Store
Thumbs.db

# Dependencies
vendor/

# SQL schema scripts
src/Database/setup_audit_logs.sql
